:root{
    --colr: red;
    --line: 3px solid var(--colr);
}
#line{
    width: 40px;
    display: flex;
    flex-direction: column;
}

#line .part{
    box-sizing: border-box;
    width: 20px;
    height: 200px;
    position: relative;
    border-top: var(--line);
    border-left: var(--line);
}

#line .part span{
    font-size: 16px;
    display: inline-block;
    position: absolute;
    left:23px;
    bottom: -10px;
    font-weight: bold;
    color: var(--colr);
}

.ball, .ball2 {
    position: absolute;
    top:400px;
    left: 400px;
    width: 100px;
    height: 100px;
    border: var(--line);
    border-radius: 50%;
}

.ball2{
    top:300px;
    left: 300px;
}